<nav>
  <ul class='nav-list'>
    <li><a href='/'>Home</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/resources'>Resources</a></li>
    <li><a href='/grid'>Grid</a></li>
    <li><a href='/notes'>Github</a></li>
  </ul>
</nav>
<!-- // scoped style example -->

<style lang='scss'>
  $primary: hsl(225 50% 40%);
  $secondary: hsl(225 80% 60%);
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 0 max(1rem, 2vw);
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;

    a {
      color: $primary;

      &:hover,
      &:focus {
        color: $secondary;
      }
    }
  }

  li {
    margin-bottom: 3rem;
  }
</style>
