---
import '../styles/global.scss';
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
// import Grid from '../components/Grid.astro';
const { title } = Astro.props;
---

<html lang='en'>
  <BaseHead title={title} />
  <body>
    <Navigation />
    <h1>Welcome to {title}</h1>

    <slot />
  </body>
</html>
